<a href="https://colab.research.google.com/github/Swarnalata143/PRINCY_143/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
celsius=float(input("Enter the value:"))
Fahrenheit= (celsius *1.8)+32
print("The value in Fahrenheit",Fahrenheit)
Fahrenheit_f=float(input("Enter the value:"))
celsius_c=int((Fahrenheit_f-32)/1.8)
print("The value in celsius",celsius_c)

Enter the value:23
The value in Fahrenheit 73.4
Enter the value:23
The value in celsius -5

In [ ]:
n=int(input('Enter the number"'))
rev=int(str(n)[::-1])
print('the reverse number is =',rev)

Enter the number"143
the reverse number is = 341

In [ ]:
a=int(input("ENTER a VALUE="))
b=int(input("ENTER b VALUE="))
def sum(a,b):
      for i in range(1,b + 1):
           a= a+1
      return a
print('SUM OF NUMBERS=',sum(a,b))

ENTER a VALUE=49
ENTER b VALUE=48
SUM OF NUMBERS= 97

4.INPUT TWO NUMBER FIND REMAINDER WITHOUT'%'

In [ ]:
a=int(input("ENTER a VALUE="))
b=int(input("ENTER b "))
def rem(a,b)

In [ ]:
#To CREATE A TABLE
list=[1,2,3,4,5,6,7,8,9,10]
n=5
for i in list:
       c=n*i
       print(c)

5
10
15
20
25
30
35
40
45
50

In [ ]:
##To CREATE A TABLE
list=[1,2,3,4,5,6,7,8,9,10]
n=int(input('Enter your choice'))
for i in list:
       c=n*i
       print(c)

Enter your choice3
3
6
9
12
15
18
21
24
27
30

In [ ]:
list=[10,30,23,43,65,12]
sum=0
for i in list:
   sum=sum+i
print("The sum is:",sum)

The sum is: 183

In [ ]:
#using range ()function in for loop
for i in range(10):
   print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  print(i,end='')

0123456789

In [ ]:
n=int(input("Enter the number"))
for i in range(1,11):
  c=n*i
  print(n,"*",i,"=",c)

Enter the number10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
#program to print even number using step size in range()
n=int(input("Enter the number"))
for i in range(2,n,2):
  print(i)

Enter the number20
2
4
6
8
10
12
14
16
18

In [ ]:
list=['swag','somu','salu','sagu','anki']
for i in range(len(list)):
  print("hello",list[i])

hello swag
hello somu
hello salu
hello sagu
hello anki

In [ ]:
n=int(input("Enter the number"))
for i in range(2,n,2):
   sum=sum+i
print("The sum is:",sum)

In [ ]:
for var in"ABIT":
   if var=="B":
    continue
   print(var)

A
I
T

In [ ]:
for i in range(10):
  print(i)
  if i ==2:
     break

0
1
2

In [ ]:
for i in range(10):
  if i ==5:
   continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
li=['a','b','c','d']
for i in li:
  if(i=='a'):
      pass
  else:
        print(i)

b
c
d

In [ ]:
swar=['s','w','a','r']
for i in swar:
     if(i=='s'):
       pass
  else:
       print(i)

In [ ]:
n=  int(input('enter the number of even numbers required:'))
for i in range(0,n+1,2):
  if(i<=10):
    pass
  else:
    print(i)

enter the number of even numbers required:30
12
14
16
18
20
22
24
26
28
30

In [ ]:
def SHOWO():
 print("HELLO SWARNA")
SHOWO()

HELLO SWARNA

In [ ]:
def sum(a,b):
  print('a+b=',(a+b))
sum(22,55)

a+b= 77

In [ ]:
def sum(a,b):
  print('a+b=',(a+b))
a=int(input('enter the value of a='))
b=int(input('enter the value of b='))
sum(a,b)

enter the value of a=3
enter the value of b=9
a+b= 12

In [ ]:
n=int(input('enter the number'))
def rev(n):
  rev=0
  while(n>0):
     rev=int(n)
     rev=rev*10+rem
     n=int(n/10)
     print(rev)
     rev(n)

In [ ]:
def adding(x,y):
  i=x+y
  return i

result=adding(16,25)
print(result)

41

In [ ]:
def show(rows):
  for i in range(0,rows+1):
    for j in range(i):
      print(i,end = '')
    print()

rows = int(input("enter the rows"))
show(rows)

enter the rows4

1
22
333
4444

In [ ]:
def show(rows):
  for i in range(5,0,-1):
    for j in range(0,i):
       print(i,end='')
    print()

rows = int(input("enter the rows"))
show(rows)

enter the rows4
55555
4444
333
22
1

In [ ]:
def greet():
  message = 'HELLO'
  print('local',message)
  
greet()
message = 'ABIT CSE'
print(message)

local HELLO
ABIT CSE

In [ ]:
def lambda_handler(event,context):
 print('HELLO WORLD')

In [ ]:
add = lambda num: num + 4
print( add(6))

10

In [ ]:
a=lambda x , y:x+y
print(a(1, 2))

3

In [ ]:
a=lambda x, y, z:x+y+z
print(a(1,2,3))

6

In [ ]:
def factorial(x):
 if x == 1:
  return 1
 else:
  return (x * factorial(x-1))
num = int(input('num=?'))
print("The factorial of", num, "is", factorial(num))

num=?6
The factorial of 6 is 720

In [ ]:
nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms? 7
Fibonacci sequence:
0
1
1
2
3
5
8

In [ ]:
import math as swarna
pie = swarna.pi
print("The value of pi is : ",pie)

The value of pi is :  3.141592653589793

In [ ]:
import random
for i in range(10):
  print(random.randint(1, 25))

5
10
24
9
20
25
9
20
19
5

In [ ]:
import random
import math
for i in range(5):
 print(random.randint(1, 25))
print(math.pi)

11
13
25
5
23
3.141592653589793

In [ ]:
class myclass:
  "this is my first class"
  a=100
  def fun():
      print("HELLO")
print(myclass.__doc__)
print(myclass.a)
myclass.fun()

this is my first class
100
HELLO

In [ ]:
class myclass:
  "this is my first class"
  a=100
  def fun(self):
    print("hello")
obj = myclass()

print(obj.a)
obj.fun()

100
hello

In [ ]:
class myclass:
  def __init__ (self,name):
    print("hello",name)
obj = myclass("swarna")

hello swarna

In [ ]:
class a:
    def _init_(self,n):
        for i in range(n+1):
            for j in range(i):
                print(i,end=' ')
            print()
n=int(input("Enter the no. of rows.."))
obj=a(n)

In [ ]:
class person:
  def __init__(self):
    print("bye....")
  def mymethod(self,num):
    print("the cube of number is: ",num**3)
obj_person=person()
obj_person.mymethod(4)

bye....
the cube of number is:  64

In [ ]:
class Animal:
  def speak(self):
    print("Animal Speaking")
class Dog(Animal):
  def bark(self):
    print("dog barking")
d=Dog()
d.bark()
d.speak()

dog barking
Animal Speaking

In [ ]:
#write a python program the base class contains addition of 2 nos but the derived class contains mul of same nos
class a():
  def sum(self,a,b):
    return a+b
class b(a):
  def mul(self,a,b):
    return a*b
d=b()
a=int(input("Enter 1st number.."))
b=int(input("Enter 2nd number.."))
print(d.sum(a,b))
print(d.mul(a,b))

Enter 1st number..2
Enter 2nd number..3
5
6

In [ ]:
#WAP usig multi level inheritance to devlope a calculator which content four derive of derive class and only one child class
class A():
 def sum(self,a,b):
  return a+b
class B(A):
 def sub(self,a,b):
  return a-b
class C(B):
 def mul(self,a,b):
  return a*b
class D(C):
 def div(self,a,b):
  return a/b
class E(D):
 def rem(self,a,b):
  return a%b
d=E()
a=int(input('INPUT a='))
b=int(input('INPUT b='))
print(d.sum(a,b))
print(d.sub(a,b))
print(d.mul(a,b))
print(d.div(a,b))
print(d.rem(a,b))

INPUT a=4
INPUT b=8
12
-4
32
0.5
4

In [ ]:
import numpy as np
print(np.__version__)

1.22.4

In [ ]:
#the command to import numpy library pacakeg.
import numpy
list=[10,20,30,40,50]
arr=numpy.array(list)
print(arr)

[10 20 30 40 50]

In [ ]:
import numpy as np
list=[10,20,30,40,50]
arr=np.array(list)
print(arr)

[10 20 30 40 50]

In [ ]:
import numpy as np
list=[10,20,30,40,50]
arr=np.array(list)
print('size:',arr.size)
print('datatype:',arr.dtype)
print('dimension:',arr.ndim)
print('shape:',arr.shape)

size: 5
datatype: int64
dimension: 1
shape: (5,)

In [ ]:
import numpy as np
list=[[10,20,30],[40,50,60]]
arr=np.array(list)
print(arr)

[[10 20 30]
 [40 50 60]]

In [ ]:
import numpy as np
list=[[10,20,30],[40,50,60]]
arr=np.array(list)
print(arr[1])

[40 50 60]

In [ ]:
import numpy as np
list=[[10,20,30],[40,50,60]]
arr=np.array(list)
print(arr[1][1])

50

In [ ]:
import numpy as np
three_dimensional_list=[[[1,2,3],[4,5,6],[7,8,9]]]
three_dimensional_arr=np.array(three_dimensional_list)
print("3d array is:",three_dimensional_arr)

3d array is: [[[1 2 3]
  [4 5 6]
  [7 8 9]]]

In [ ]:
import numpy as np 
list=[10,20,30,40,50,60]
arr=np.array(list)
print('element')
for ele in arr:
     print(ele)

element
10
20
30
40
50
60

In [ ]:
import numpy as np
three_dimensional_list=[[[1,2,3],[4,5,6],[7,8,9]]]
three_dimensional_arr=np.array(three_dimensional_list)
print("3d array is:",three_dimensional_arr)

3d array is: [[[1 2 3]
  [4 5 6]
  [7 8 9]]]

In [ ]:
import numpy as np
ndArray=np.array([1,2,3,4],ndmin=6)
print(ndArray)
print('dimensions of array:',ndArray.ndim)

[[[[[[1 2 3 4]]]]]]
dimensions of array: 6

In [2]:
import numpy as np
list=[[10,20,30],[40,50,60]]
arr=np.array(list)
print('Element')
for ele in arr:
   print(ele)

Element
[10 20 30]
[40 50 60]

In [3]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print('Element')
for ele in arr:
   print(ele)

Element
[10 20 30]
[40 50 60]
[70 80 90]

In [4]:
print("%10.3e"% (356.08977))

 3.561e+02

In [5]:
print("%10.3E"% (356.08977))

 3.561E+02

In [8]:
import numpy
n = int (input('Enter Size:'))
arr = numpy.ndarray(shape=(n),dtype=int)
print('Enter %d element :'%n)
for i in range(n):
    arr[i]=int(input())
    print('Array Elements :', arr)

Enter Size:2
Enter 2 element :
11
Array Elements : [11  0]
22
Array Elements : [11 22]

In [11]:
import numpy
n = int (input('Enter Size:'))
arr = numpy.ndarray(shape=(n),dtype=int)
print('Enter %d element :'%n)
sum=0
for i in range(n):
    arr[i]=int(input())
    sum=sum+arr[i]
    print('Array Elements :', arr)
    print(sum)

Enter Size:2
Enter 2 element :
11
Array Elements : [11 22]
11
22
Array Elements : [11 22]
33

In [9]:
import numpy
m = int (input('Enter Row Size:'))
n = int (input('Enter Column Size:'))
arr = numpy.ndarray(shape=(m,n),dtype=int)
print('Size :', arr.size)
print('Shape :', arr.shape)
print('Dimension :', arr.ndim)

Enter Row Size:2
Enter Column Size:3
Size : 6
Shape : (2, 3)
Dimension : 2

In [13]:
import numpy
n = int (input('Enter Size:'))
arr = numpy.ndarray(shape=(n),dtype=int)
print('Enter %d element :'%n)
def oddcount(a,o):
  if a%2!=0:
    o+=1
  return o
def evencount(a,e):
  if a%2==0:
    e+=1
  return e
o=0
e=0
for i in range(n):
  arr[i]=int(input())
  o=oddcount(arr[i],o)
  e=evencount(arr[i],e)
print('Array Elements :', arr)
print(o)
print(e)

Enter Size:4
Enter 4 element :
12
23
32
1
Array Elements : [12 23 32  1]
2
2

In [23]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print(arr)
# No Row and Column Size.
print('Slicing...... .....')
res=arr[:,:]
print(res)

[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing...... .....
[[10 20 30]
 [40 50 60]
 [70 80 90]]

In [24]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print(arr)
# No Row and Column Size.
print('Slicing......')
res=arr[:,:]
print(res)
print('Slicing......')
res=arr[0:3,0:3]
print(res)

[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing......
[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing......
[[10 20]
 [40 50]
 [70 80]]

In [25]:
import numpy as np
list=[[10,20,30],[40,50,60],[70,80,90]]
arr=np.array(list)
print(arr)
# No Row and Column Size.
print('Slicing......')
res=arr[:,:]
print(res)
print('Slicing......')
res=arr[1:3,1:3]
print(res)

[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing......
[[10 20 30]
 [40 50 60]
 [70 80 90]]
Slicing......
[[50 60]
 [80 90]]

In [29]:
str1 = "HELLOW SWARNA" 
slic = slice(0,10,5)
slic2 = slice(-1,0,-5)  
str2 = str1[slic] 
str3 = str1[slic2] 
print(str2) 
print(str3)

HW
ASL

In [30]:
x = "swarna at work"
print(x[0:6])

swarna

In [32]:
str='abit is an enginnering college'
print(str[0:27:5])

ai nnl

In [34]:
str='abit is an enginnering college'
print(str[0:27:2])
str1=slice(1,27,3)
str2=str[str1]
print(str2)

ai sa ninrn ol
b   gni l

In [36]:
import pandas as pd
import numpy as np
info = np.array(['S','W','A','R','N','A'])
a = pd.Series(info)
print(a)

0    S
1    W
2    A
3    R
4    N
5    A
dtype: object

In [37]:
import pandas as pd
info =['REG','NAME','CLASS','BRANCH','DEPT','ABIT']
df=pd.DataFrame(info)
print(df)
print('swarna')
a = pd.Series(info)
print(a)

        0
0     REG
1    NAME
2   CLASS
3  BRANCH
4    DEPT
5    ABIT
swarna
0       REG
1      NAME
2     CLASS
3    BRANCH
4      DEPT
5      ABIT
dtype: object