<a href="https://colab.research.google.com/github/Swarnalata143/PRINCY_143/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
celsius=float(input("Enter the value:"))
Fahrenheit= (celsius *1.8)+32
print("The value in Fahrenheit",Fahrenheit)
Fahrenheit_f=float(input("Enter the value:"))
celsius_c=int((Fahrenheit_f-32)/1.8)
print("The value in celsius",celsius_c)

Enter the value:23
The value in Fahrenheit 73.4
Enter the value:23
The value in celsius -5

In [ ]:
n=int(input('Enter the number"'))
rev=int(str(n)[::-1])
print('the reverse number is =',rev)

Enter the number"143
the reverse number is = 341

In [ ]:
a=int(input("ENTER a VALUE="))
b=int(input("ENTER b VALUE="))
def sum(a,b):
      for i in range(1,b + 1):
           a= a+1
      return a
print('SUM OF NUMBERS=',sum(a,b))

ENTER a VALUE=49
ENTER b VALUE=48
SUM OF NUMBERS= 97

4.INPUT TWO NUMBER FIND REMAINDER WITHOUT'%'

In [ ]:
a=int(input("ENTER a VALUE="))
b=int(input("ENTER b "))
def rem(a,b)

In [2]:
#To CREATE A TABLE
list=[1,2,3,4,5,6,7,8,9,10]
n=5
for i in list:
       c=n*i
       print(c)

5
10
15
20
25
30
35
40
45
50

In [3]:
##To CREATE A TABLE
list=[1,2,3,4,5,6,7,8,9,10]
n=int(input('Enter your choice'))
for i in list:
       c=n*i
       print(c)

Enter your choice3
3
6
9
12
15
18
21
24
27
30

In [6]:
list=[10,30,23,43,65,12]
sum=0
for i in list:
   sum=sum+i
print("The sum is:",sum)

The sum is: 183

In [7]:
#using range ()function in for loop
for i in range(10):
   print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(10):
  print(i,end='')

0123456789

In [10]:
n=int(input("Enter the number"))
for i in range(1,11):
  c=n*i
  print(n,"*",i,"=",c)

Enter the number10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [11]:
#program to print even number using step size in range()
n=int(input("Enter the number"))
for i in range(2,n,2):
  print(i)

Enter the number20
2
4
6
8
10
12
14
16
18

In [12]:
#using len()function
list=['swag','somu','salu','sagu','anki']
for i in range(len(list)):
  print("hello",list[i])

hello swag
hello somu
hello salu
hello sagu
hello anki

In [16]:
n=int(input("Enter the number"))
for i in range(2,n,2):
   sum=sum+i
print("The sum is:",sum)

Enter the number6
The sum is: 299

In [31]:
#user input for number of rows
rows=int(input("Enter the rows:"))
#Outer loop will print number of rows
for i in range(0,rows+1):
  for j in range(i):
    print("*",end="")
  print()

Enter the rows:5

*
**
***
****
*****

In [32]:
#Nested for loop
for i in range(5):
  for j in range(5):
    print(i,end='')
  print('')

00000
11111
22222
33333
44444

In [33]:
rows=int(input("Enter the rows:"))
for i in range(0,rows+1):
  for j in range(i):
    print("*",end="")
  print()

Enter the rows:5

*
**
***
****
*****

In [37]:
#using while loop
s=0
i=1
while i<=10:
  s=s+i
  i=i+1
print('SUM from 1 to 10=',s)

SUM from 1 to 10= 55